.navbar {
    text-align: center;
    height: 65px;
}

.navBtn {
    color: #8B52FE;
    border: none;
    margin: 5px;
    height: 40px;
    border-radius: 0 !important;
    font-size: 13px;
    margin-top: 10px;
}

.navBtn:hover {
    background-color: #F5F5F5;
    border-bottom: 2px solid #6214ff;
    color: #8B52FE;
}

.logo {
    text-align: left;
    position: absolute;
    text-decoration: none;
    color: #000;
}

hr {
    margin: 0px !important;
}

.comment {
    background-color: #f2f2f2;
    box-shadow: 1px 10px 5px -10px rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
    margin: 10px auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.author {
    font-size: 23px;
}

.comment-id {
    margin: 30px 0px 0px;
    font-size: 10px;
}

input[type=submit] {
    background-color: #8B52FE !important;
    color: white !important;
}

input[type=submit]:hover {
    background-color: #6214ff !important;
}

.formContainer {
    margin: 10px auto;
    text-align: center;
}

label {
    text-align: left !important;
}

textarea {
    width: 100%;
}

.title {
    text-align: center;
}

.topbar {
    position: sticky;
    top: 0;
    background-color: white;
}

@media (min-width: 750px) {
    .comment {
        width: 35%;
    }

    .formContainer {
        width: 35%;
    }
}

@media (max-width: 750px) {
    .comment {
        width: 70%;
    }

    .formContainer {
        width: 70%;
    }
}