<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/home/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="topbar">
        <div class="navbar">
            <a href="/">
                <h3 class="logo"><img src="/assets/logo.png" height="55" alt="logo"></h3>
            </a>
            <div class="navBtns">
                <a href="/signin"><button class="navBtn"><i class="fa fa-user-check"></i> Sign in</button></a>
                <a href="/signup"><button class="navBtn"><i class="fa fa-user-plus"></i> Sign up</button></a>
            </div>

            <div class="dropdown">
                <button class="dropbtn navBtn" aria-label="Dropdown menu"><i class="fa fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="/signin"><button class="navBtn drop"><i class="fa fa-user-check"></i> Sign in</button></a>
                    <a href="/signup"><button class="navBtn drop"><i class="fa fa-user-plus"></i> Sign up</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="btor_text">
        <div class="name">
            <p class="btor-text">BTOR</p>
        </div>
        <div class="slogan"><i>"Make your day unforgettable"</i></div>
    </div>
    <div class="signup-text">
        <p>Sign up for <span class="purple">free</span> today</p>
    </div>
    <script src="/scripts/home/index.js"></script>
</body>

</html>