<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Home</title>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="BTOR - The communication platform of the future">
    <meta name="theme-color" content="#8C52FF">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/pwa-icons/apple-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/styles/home/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="topbar">
        <div class="navbar">
            <a href="/">
                <h3 class="logo"><img src="/assets/logo.png" height="55" alt="logo"></h3>
            </a>
            <div class="navBtns">
                <button class="add-button navBtn"><i class="fa fa-plus-circle"></i> Install</button>
                <a href="/signin"><button class="navBtn"><i class="fa fa-user-check"></i> Sign in</button></a>
                <a href="/signup"><button class="navBtn"><i class="fa fa-user-plus"></i> Sign up</button></a>
            </div>

            <div class="dropdown">
                <button class="dropbtn navBtn" aria-label="Dropdown menu"><i class="fa fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="/signin"><button class="navBtn drop"><i class="fa fa-user-check"></i> Sign in</button></a>
                    <a href="/signup"><button class="navBtn drop"><i class="fa fa-user-plus"></i> Sign up</button></a>
                    <button class="add-button navBtn drop"><i class="fa fa-plus-circle"></i> Install</button>
                </div>
            </div>
        </div>
    </div>
    <div class="btor_text">
        <div class="name">
            <p class="btor-text">BTOR</p>
        </div>
        <div class="slogan"><i>"Make your day unforgettable"</i></div>
    </div>
    <div class="signup-text">
        <p>Sign up for <span class="purple">free</span> today</p>
    </div>
    <script src="/scripts/home/index.js"></script>
    <script src="/assets/scripts/pwaInstall.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
    </script>
</body>

</html>