.navbar {
    text-align: center;
    height: 65px;
}

.navBtn {
    color: #8B52FE;
    border: none;
    margin: 5px;
    height: 40px;
    border-radius: 0 !important;
    font-size: 13px;
    margin-top: 10px;
}

.navBtn:hover {
    background-color: #F5F5F5;
    border-bottom: 2px solid #6214ff;
    color: #8B52FE;
}

.logo {
    text-align: left;
    position: absolute;
    text-decoration: none;
    color: #000;
}

hr {
    margin: 0px !important;
}

.thread {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    width: 35%;
    text-decoration: none;
    border: 1px solid #d1d1d1;
}

.title {
    font-size: 23px;
    color: #8B52FE;
    text-decoration: none;
}

.title:hover {
    color: #6214ff
}

.topbar {
    position: sticky;
    top: 0;
    background-color: white;
}

.banner {
    width: 100%;
}

.searchBar {
    position: absolute;
    right: 25px;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    border: none !important;
    border-bottom: 2px solid rgb(180, 180, 180) !important;
    border-radius: 0 !important;
    width: 250px;
}

.searchBar:focus {
    border-bottom: 2px solid #8B52FE !important;
    background-color: #F5F5F5;
}

.searchBar::placeholder {
    text-align: center;
}

.searchBar:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}

.searchBar:hover {
    background-color: #F5F5F5;
}

.threadLink {
    text-decoration: none;
    color: black;
}

.thread:hover {
    color: black;
    border: 1px solid #888888;
    background-color: #e7e7e7;
}