.navbar {
    text-align: right;
}

.userBtn {
    background-color: #8B52FE;
    color: white;
    border: none;
    margin: 5px;
}

.userBtn:hover {
    background-color: #6214ff;
    color: white;
}

.threadBtn:hover {
    background-color: #6214ff;
    color: white;
}

.threadBtn {
    background-color: #8B52FE;
    color: white;
    border: none;
    margin: 5px;
}

.logo {
    text-align: left;
    position: absolute;
    text-decoration: none;
    color: #000;
}

hr {
    margin: 0px !important;
}

.thread {
    background-color: #f2f2f2;
    box-shadow: 1px 10px 15px -10px rgba(0,0,0,0.9);
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    width: 35%;
}

.title {
    font-size: 23px;
    color: #8B52FE;
    text-decoration: none;
}

.title:hover {
    color: #6214ff
}

.alert {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    bottom: 0;
    color: white;
    padding: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
    height: 70px;
}

.topbar {
    position: sticky;
    top: 0;
    background-color: white;
}

.alertText {
    display: inline;
}

.alertImg {
    position: absolute;
    bottom: 30px;
    left: 20%;
}

.alertBtn {
    margin: 5px;
}

.alertBtn > button {
    background-color: #8B52FE;
    border: none !important;
    color: white !important;
    margin-top: 10px;
}