<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Admin sign in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/adminsignin/styles.css">
</head>

<body>
    <div class="btor_text">
        <img src="/assets/logo_white.png" height="45">
        <p><span class="purple"> B</span>TOR.</p>
    </div>
    <div class="container">
        <h3 class="title"><img class="logo" src="/assets/signin.png" height="40"></h3>
        <form id="signinForm">
            <input type="password" id="password" name="password" placeholder="Admin Password" required>
            <br>
            <br>
            <input type="submit" value="Sign in to the admin panel">
        </form>
    </div>
    <script src="/scripts/adminsignin/index.js"></script>
</body>

</html>