<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles/admin/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.1/css/tabulator_modern.min.css">
</head>

<body>
    <h1 class="title">Admin panel</h1>
    <div class="pwdWrapper">
        <input type="password" id="password" class="adminPwd" placeholder="Admin Password">
    </div>
    <br>
    <div class="btnWrapper">
        <button onclick="show('.page1')">Controls</button>
        <button onclick="show('.page2')">All users</button>
    </div>
    <br>
    <div class="page1">
        <div class="row">
            <div class="three columns">
                <div class="formContainer">
                    <form class="editForm">
                        <h5 class="control-title">Edit a user, thread or comment</h5>
                        <input type="text" name="id" placeholder="ID" required>
                        <br>
                        <input type="text" name="newContent" placeholder="New content" required>
                        <br>
                        <select required name="type">
                            <option value="" disabled selected>Select the type</option>
                            <option value="user">User</option>
                            <option value="thread">Thread</option>
                            <option value="comment">Comment</option>
                        </select>
                        <br>
                        <input type="submit" value="Edit">
                    </form>
                </div>
            </div>
            <div class="three columns">
                <div class="formContainer">
                    <form class="deleteForm">
                        <h5 class="control-title">Delete a user, thread or comment</h5>
                        <input type="text" name="id" placeholder="ID" required>
                        <br>
                        <select required name="type">
                            <option value="" disabled selected>Select the type</option>
                            <option value="user">User</option>
                            <option value="thread">Thread</option>
                            <option value="comment">Comment</option>
                        </select>
                        <br>
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
            <div class="three columns">
                <div class="formContainer">
                    <form class="userIdForm">
                        <h5 class="control-title">Get user id from username</h5>
                        <input type="text" name="name" placeholder="Username" required>
                        <br>
                        <input type="submit" value="Get ID">
                    </form>
                    <div id="copyId" hidden>
                        <input type="text" id="userID" readonly>
                        <br>
                        <button class="userIDbtn" data-clipboard-target="#userID">Copy to clipboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page2" hidden>
        <table class="userTable"></table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.1/js/tabulator.min.js"></script>
    <script src="/scripts/admin/index.js"></script>
</body>

</html>