.container {
    text-align: center;
    border-radius: 20px;
    padding: 10px !important;
    color: white;
    top: 75px;
    background-color: rgba(255, 255, 255, 0);
    width: 45% !important;
    box-shadow: -1px 10px 50px 13px rgba(0, 0, 0, 1);
}

input[type=text] {
    width: 90%;
    border: none !important;
    color: white;
    border-bottom: 1px solid white !important;
    background-color: rgba(100, 100, 100, 0.4) !important;
    border-radius: 5px;
}

textarea {
    width: 90%;
    border: none !important;
    color: white;
    background-color: rgba(100, 100, 100, 0.4) !important;
    border-radius: 5px;
}

input:focus {
    border-bottom: 1px solid #8B52FE !important;
}

input[type=submit] {
    background-color: #8B52FE !important;
    color: white !important;
    border: none !important;
    width: 100px;
    border-radius: 20px !important;
    padding: 0 !important;
}

input[type=submit]:hover {
    background-color: #6214ff !important;
}

body {
    background-image: linear-gradient(rgba(140, 82, 255, 0.18), rgba(140, 82, 255, 0.18)), url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif !important;
}

html {
    height: 100%;
}

.link {
    text-decoration: none;
    font-weight: 650;
    color: #8B52FE;
}

.link:hover {
    color: #6214ff
}

.title {
    font-weight: 670;
    margin-top: 30px;
}

textarea {
    height: 150px !important;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #e2e2e2;
}