<!DOCTYPE html>
<html lang="en">

<head>
    <title>BTOR - Settings</title>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="BTOR - The communication platform of the future">
    <meta name="theme-color" content="#8C52FF">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/pwa-icons/apple-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/styles/settings/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/navbar/styles.css">
</head>

<body>
    
    <!-- Navbars -->
    <div class="topbar">
        <div class="navbar">
            <a href="/"><img src="/assets/logo.png" height="55" class="logo"></a>
            <a href="/threads/new" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-plus-square"></i> New thread</button>
            </a>
            <a href="/settings" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-user-cog"></i> <%=user.username%></button>
            </a>
            <a href="/logout" class="btnlink">
                <button class="navBtn topBtn"><i class="fa fa-user-times"></i> Sign out</button>
            </a>
        </div>
        <hr>
    </div>
    <section class="basic-grid bottombar navbar">
        <a href="/threads/new" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-plus-square"></i></button>
        </a>
        <a href="/settings" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-user-cog"></i> <%=user.username%></button>
        </a>
        <a href="/logout" class="card btnlink">
            <button class="navBtn bottomBtn"><i class="fa fa-user-times"></i></button>
        </a>
    </section>
    <!-- Navbars -->

    <h1 class="title">User settings - <%=user.username%></h1>
    <br>
    <div class="page1">
        <div class="row">
            <div class="four columns">
                <div class="formContainer">
                    <form class="userNameForm">
                        <h5 class="control-title">Change your username</h5>
                        <input type="text" name="newName" placeholder="New Username" required>
                        <br>
                        <input type="submit" value="Change">
                    </form>
                </div>
            </div>
            <div class="four columns">
                <div class="formContainer">
                    <form class="passwordForm">
                        <h5 class="control-title">Change your password</h5>
                        <input type="password" name="oldPassword" placeholder="Old Password" required>
                        <br>
                        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
                        <br>
                        <input type="submit" value="Change">
                    </form>
                </div>
            </div>
            <div class="four columns">
                <div class="formContainer">
                    <form class="deleteForm">
                        <h5 class="control-title">Delete your account</h5>
                        <input type="text" name="username" placeholder="Username" required>
                        <br>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        <br>
                        <div class="note notSelect"><b>Note:</b> This will delete your account, all your threads and all your comments. Please insert your username and password. This action is irreversible</div>
                        <br>
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/settings/index.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
            })
        }
    </script>
</body>

</html>