.navbar {
    text-align: center;
    height: 65px;
}

.navBtn {
    color: #8B52FE;
    border: none;
    margin: 5px;
    height: 40px;
    border-radius: 0 !important;
    font-size: 13px;
    margin-top: 10px;
}

.navBtn:hover {
    background-color: #F5F5F5;
    border-bottom: 2px solid #6214ff;
    color: #8B52FE;
}

.logo {
    text-align: left;
    position: absolute;
    text-decoration: none;
    color: #000;
}

hr {
    margin: 0px !important;
}

input[type=submit] {
    background-color: #8B52FE !important;
    color: white !important;
    border: none !important;
    width: 100px;
    border-radius: 20px !important;
    padding: 0 !important;
}

input[type=submit]:hover {
    background-color: #6214ff !important;
}

.title {
    text-align: center;
}

.columns {
    text-align: center;
}

.note {
    color: gray;
}

.note>b {
    color: black;
}

.notSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}