input[type=submit] {
    background-color: #8B52FE !important;
    color: white !important;
    border: none !important;
    width: 100px;
    border-radius: 20px !important;
    padding: 0 !important;
    -webkit-tap-highlight-color: transparent;
}

input[type=submit]:hover {
    background-color: #6214ff !important;
}

.title {
    text-align: center;
    font-size: 3em;
    word-wrap: break-word;
}

.columns {
    text-align: center;
}

.note {
    color: gray;
}

.note>b {
    color: black;
}

.notSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    margin-bottom: 1.5rem;
}