.container {
    text-align: center;
    padding: 10px !important;
    box-shadow: -1px 10px 50px 13px rgba(0, 0, 0, 1);
    color: white;
    background-color: rgba(255, 255, 255, 0);
    height: 450px;
}

@media (min-width: 750px) {
    .container {
        width: 25% !important;
        position: absolute !important;
        top: 50%;
        margin-top: -225px !important;
        right: 15%;
    }

    .btor_text {
        height: 50px;
        position: absolute !important;
        top: 40%;
        left: 200px;
    }
}

@media (max-width: 750px) {
    .container {
        margin: auto;
    }

    .btor_text {
        text-align: center;
        /* visibility: hidden;
        display: none; */
    }
}

input[type=text],
input[type=password] {
    width: 90%;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    color: white;
    border-bottom: 1px solid white !important;
    border-radius: 0 !important;
}

input[type=text]:focus,
input[type=password]:focus {
    border-bottom: 1px solid #8B52FE !important;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input[type=submit] {
    background-color: #8B52FE !important;
    color: white !important;
    border: none !important;
    width: 100px;
    border-radius: 20px !important;
    padding: 0 !important;
}

input[type=submit]:hover {
    background-color: #6214ff !important;
}

body {
    background-image: linear-gradient(rgba(140, 82, 255, 0.18), rgba(140, 82, 255, 0.18)), url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif !important;
}

html {
    height: 100%;
}

.link {
    text-decoration: none;
    font-weight: 650;
    color: #8B52FE;
}

.link:hover {
    color: #6214ff
}

.title {
    font-weight: 550;
    margin-top: 30px;
    line-height: 10px;
    font-size: 30px;
}

.logo {
    margin: 10px 0 0;
    line-height: 10px;
}

.btor_text>img,
.btor_text>p {
    display: inline-block;
    font-size: 50px;
    font-weight: 1000;
    color: white;
}

.purple {
    color: rgba(140, 82, 255);
}

.notSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}